<div align="center">
    <mat-icon style="color: darkred; font-size: xx-large;">error</mat-icon>
</div>

<h2 mat-dialog-title class="title">Lo sentimos no posee cuenta bancaria registrada.</h2>
  <hr style="border-color: #BD9A05; margin: 0 0 1em">

<mat-dialog-content style="text-align: center; color:gray; font-style: oblique;" [innerHtml]="bodyText()">
<br>
</mat-dialog-content>

<br>

<div mat-dialog-actions align="center">
    <button mat-button mat-dialog-close style="background-color: #008D3C; color: white;">ABRIR CUENTA DE AHORRO DIGITAL</button>
</div>
