<style>
  .pFooter1 {
    margin-left: 100px !important;
  }
  .pFooter2 {
    margin-right: 100px !important;
  }
  @media only screen and (max-width: 768px) {
    .pFooter1 {
      margin-left: 0px !important;
    }
    .pFooter2 {
      margin-right: 0px !important;
    }
  }
</style>
<footer class="p-2" style="background-color: #009845; bottom: 0; width: 100%">
  <div class="clearfix">
    <p class="p-0 m-0 pFooter1 float-md-left text-center" style="color: white">
      Banco de Machala © 2021. Todos los derechos reservados.
    </p>
    <p class="p-0 m-0 pFooter2 float-md-right text-center" style="color: white">
      <!-- Contact Center: {{ numeroContacto }} -->
      Contact Center: 3434141341
    </p>
  </div>
</footer>
